<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MvcReportViewer.AspxViewer" value="/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
    <add key="MvcReportViewer.Username" value="admin" />
    <add key="MvcReportViewer.Password" value="password" />
  </appSettings>
</configuration>