<!DOCTYPE html>
<html>
    <head>
        <title>MvcReportViewer example</title>
    </head>
    <body>
        <iframe height="900" width="900" style="border: none;" src="http://localhost:56060/MvcReportViewer.aspx?_r=/Reports/Clients"></iframe>
    </body>
</html>